              /*------------------Body------------------*/
body {
    font-family: Arial, sans-serif;
    background-color: #333; 
    margin: 0;
}
              /*------------------Header------------------*/
header {
    background-color: #222; 
    color: white;
    border-radius: 20px; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1); 
    padding: 10px 0;
    margin: 0 20px; 
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 20px;
}
.social-links a {  
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.social-links a i {
    margin-right: 10px;
    font-size: 35px; 
}
.social-links a:hover{
    
    color: #4CAF50;
}
.text-content {
    background-color: #333; 
    color: white;
    border-radius: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1); 
    padding: 20px;
    margin: 20px 0; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 60%;  
}
.text-content:hover{
    transform: translateY(-5px); 
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.8); 
}
.text-content h1 {
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px; 
    border-bottom: 2px solid #4CAF50; 
    padding-bottom: 10px;
}
.text-content p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
}
.image-content {
    max-width: 35%;  
}
.image-content img {
    width: 100%;  
    border-radius: 10px;  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}
.image-content :hover {
    transform: translateY(-5px); 
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.8); 
}
             /*------------------Nav------------------*/
nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 20px; 
    background-color: #333; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 10px 0;
    margin: 0 20px; 
}
nav:hover {
    transform: translateY(-5px); 
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.8);
}
nav a {
    color: white;
    text-decoration: none; 
    padding: 12px 25px; 
    margin: 0 20px; 
    font-size: 18px;
    font-weight: 500; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    border-radius: 20px; 
}
nav a:hover {
    background-color: #555; 
    transform: scale(1.05); 
    border-radius: 20px; 
}
            /*------------------Skills------------------*/
#skills{  
    margin: 20px 20px; 
    padding: 20px; 
    background-color: #222; 
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1); 
}
#skills h2{
    font-size: 28px;
    color: white;
    text-align: left; 
    margin-bottom: 20px; 
    border-bottom: 2px solid #4CAF50; 
    padding-bottom: 10px;
}
#skills p{
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
    color: white;
}
.skills-class{
    background-color: #333; 
    color: white;
    border-radius: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1); 
    padding: 20px;
    margin: 20px 0; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.skills-class:hover{
    transform: translateY(-5px); 
    box-shadow: 0 20px 15px rgba(0, 0, 0, 1); 
}
             /*------------------Projects------------------*/
#projects-section {
    margin: 0px 20px; 
    padding: 20px; 
    background-color: #222; 
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1); 
}
#projects-section h2 {
    font-size: 28px;
    color: white;
    text-align: left; 
    margin-bottom: 20px; 
    border-bottom: 2px solid #4CAF50; 
    padding-bottom: 10px;
}
.project-box {
    background-color: #333; 
    color: white;
    border-radius: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1); 
    padding: 20px;
    margin: 20px 0; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.project-box:hover {
    transform: translateY(-5px); 
    box-shadow: 0 20px 15px rgba(0, 0, 0, 1); 
}
.project-box h3 {
    font-size: 22px;
    color: #2e816f; 
    margin-bottom: 15px;
}
.project-box p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
}
.project-box ul {
    list-style-type: disc;
    margin-left: 20px;
}
.project-box ul li {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1.5;
}
                 /*------------------Certifications------------------*/
#Certifications{
    margin: 20px 20px; 
    padding: 20px; 
    background-color: #222; 
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
}
#Certifications h2{
    font-size: 28px;
    color: white;
    text-align: left; 
    margin-bottom: 20px; 
    border-bottom: 2px solid #4CAF50; 
    padding-bottom: 10px;
}
.certificate-box{
    background-color: #333; 
    color: white;
    border-radius: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1); 
    padding: 20px;
    margin: 20px 0; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.certificate-box p{
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
}
.certificate-box a{
        color: rgb(73, 172, 230);
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s ease;
}
.certificate-box ul li{
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1.5;
}
.certificate-box ul li a{
    color: rgb(73, 172, 230);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
.certificate-box:hover{
    transform: translateY(-5px); 
    box-shadow: 0 20px 15px rgba(0, 0, 0, 1);
}
                /*------------------Additional Activites------------------*/
#additional-activities{
    margin: 20px 20px; 
    padding: 20px; 
    background-color: #222; 
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
}
#additional-activities h2{
    font-size: 28px;
    color: white;
    text-align: left; 
    margin-bottom: 20px; 
    border-bottom: 2px solid #4CAF50; 
    padding-bottom: 10px;
}
.activity{
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
    background-color: #333; 
    color: white;
    border-radius: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1); 
    padding: 20px;
    margin: 20px 0; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.activity ul li a{
        color: rgb(73, 172, 230);
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s ease; 
}
.activity:hover{
    transform: translateY(-5px); 
    box-shadow: 0 20px 15px rgba(0, 0, 0, 1);
}
              /*------------------Footer------------------*/
footer {
    text-align: left;
    background-color: #222;
    color: white;
    margin-top: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 2);
    border-radius: 20px; 
    padding: 10px 0;
    margin: 0 20px; 
}
.footer ul li a{
    color: rgb(73, 172, 230);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
.footer ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}
.footer p{
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px; 
    border-top: 1px solid #ffffff; 
    padding-top: 10px; 
}
